#main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 55%;
    transition: width .25s cubic-bezier(.7,0,.27,1.55), opacity .25s linear;
}

#stats{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: var(--color-post);
    border-radius: 0 10px 10px 10px;
    font-family: Quicksand;
    box-shadow: 5px 20px 15px 5px rgb(121, 121, 121);
}
#stats > *{
    opacity: 0;
}
[id^="stat"]:not(#stats):not(:nth-child(4)){
    width: 45%;
}
[id^="stat"] img{
    width: 100%;
    margin-top: 10px;
}
[id^="stat"]{
    padding: 1%;
}
#stats > *{
    width: calc((45% * 2) + 40px);
}
#stats > *:not(h2){ 
    color: ivory;
    /* background: linear-gradient(0.375turn, rgba(255, 91, 91, 1), rgba(28, 0, 189, 1)); */
    background: linear-gradient(0.375turn, rgba(85, 56, 233, 1), rgba(8, 170, 211, 1));
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgb(121, 121, 121);
}
#stats > *:not(h2):not(#statPosts){
    margin: 10px;
}
#stats h2{
    margin: 20px auto 30px;
    text-align: center;
    font-size: 40px;
}
#stats h3,
#stats p{
    margin: 0;
    text-align: center;
}
#statPosts{
    margin-top: 50px;
}

#menu{
    background-color: rgb(204,204,192);
    width: max-content;
    height: max-content;
    padding: 10px 0;
    margin: 0;
}
#menu > *{
    padding: 10px;
    font-family: Quicksand;
}
#menu,
#menu > *{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: black;
    transition: color .5s linear;
    transition: background-color .5s linear;
}
#menu > *.active{
    color: royalblue;
    background-color: var(--color-post);
    transition: color .5s linear;
    transition: background-color .25s linear;
}

[id^='popup']{
    display: none;
    position: absolute;
    background-color: black;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0%;
}
[id^='popup']:target{
    opacity: .8;
    transition: opacity .5s linear;
}
[id^='popup']:target *{
    display: block;
}
#popupWeekStats{
    width: 500px;
}

g[font-size]{
    font-size: 15px;
}

*[class^='observablehq']{
    display: none;
}
.observablehq:nth-child(2),
.observablehq:nth-child(3){
    display: unset;
}