#Categorie {
    width: auto;
    max-width: 90%;
    margin: 10vh auto 50px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: block;
    padding: 0;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    margin-top: -2vh;
}
#DRAGandDROP{
    width: 30vh;
    height: 40vh;
    max-width: 90%;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: block;
    padding: 0;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

}
#categorie {
    margin: 1vh;
}
#main2169{
    display: block;
     padding : 1em;
 
}
TEXTAREA{
    resize: none;
}
#DRAGandDROP, #Categorie {
   float: left;
}
.box1 {
    width: 100%;
    /* margin: 5vh auto 50px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    align-items: center;
}

#lol {
    text-align: start;
}

#DRAGandDROP p {
    text-align: center;
}
#main1{
    width: 30%;
    background-color: rgba(255,255,240,0.8);
    border-radius: 15px;
    padding: 15px;
    margin-top: 2rem;
}
#main1 h1{
    text-align: center;
}
select,
option{
    text-align: center;
    margin: 2vh;
    background: none;
    border-radius: 10px;
    width: 166px;
    border: 1px solid #7ce7ff;
    font-size: initial;
}
select option{
    background-color: rgb(104, 129, 146);
    color: ivory;
}
select option:hover{
    background-color: #7ce7ff !important;
}
#inputPost{
    text-align: center;
    font-size: 15px;
    background-color: rgba(216, 249, 255, 0.73);
    border: 1px solid #7ce7ff;
    width: calc(100% - 2px);
    min-height: 88px;
    max-height: 150px;
    overflow: auto;
    border-radius: 10px;
    align-items: center;
    display: grid;
}

.sub {
    background: none;
    border-radius: 10px;
    width: 166px;
    border: 1px solid #7ce7ff;
    font-size: larger;
    margin-top: 1rem;
}

i {
    color: #dcba9c;
    font-size: 3rem;
    margin-top: 1rem;
}
