.Vue{
    width: 30px;
    height: 30px;
    position: absolute;
    top: calc((100% - 10px) / 2);
    right: 15px;
    z-index: 10;
    background-color: white;
}


#login {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    width: 70%;
}
#login .form {
    width: 400px;
    max-width: 95%;
    margin: 40px auto 0;
}
#login .field {
    margin: 10px;
    width: 100%;
    position: relative;
}
#login .field label {
    display: block;
    text-align: left;
}
#login .field input {
    font-size: 1.2em;
    padding: 10px;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}
#login .form button,
#login .form input[type="submit"] {
    margin: 20px 4px;
    min-width: 192px
}
#login .form button:hover,
#login .form input[type="submit"]:hover {

}
#login .full-width {
    margin: 0px -20px;
}
#login .form .g-recaptcha {
    width: 304px;
    margin: auto;
}
#login .form .field .field-warning {
    margin: 0 0 -25px;
    font-size: 0.8em;
    line-height: 25px;
}
#login .form .field .field-warning i {
    vertical-align: -25%;
    font-size: 1.4em;
}

#popup{
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#verifs{
    display: none;
    position: absolute;
    top: calc(-100% - 70px);
    left: 0;
    width: calc(100% - 10px);
    background-color: ivory;
    border-radius: 5px;
    border: 5px groove rgb(204, 204, 192);
    z-index: 999;
}
#verifs.display{
    display: block;
}

#verifs > label > span::before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: red;
    box-shadow: red 0 0 10px;
    margin: 0 5px;
}
#verifs > label > span.ok::before{
    background-color: green;
    box-shadow: green 0 0 10px;
}
#verifs > label{
    display: flex;
    flex-direction: column;
}
#btnClose {
    cursor: pointer;
    margin-right: 2vh;
    margin-top: 1vh;
    float: right;
    width: 20px;
    height: 20px;
}

.field:nth-child(3){
    position: relative;
}