:root{
    --color-fond: rgb(174,184,219);
    --color-post: rgb(254,240,236);

    --color-business: rgb(255,140,53);
    --color-sport: rgb(33, 18, 122); 
    --color-culture: rgb(182, 51, 84);
    --color-loisir: rgb(228, 39, 253);
    --color-cinema: rgb(156, 4, 4);
    --color-gaming:rgb(148, 10, 212) ;
    --color-animaux: rgb(109, 58, 58);
    --color-voyage: rgb(67, 188, 245);
    --color-sante: rgb(45, 192, 94); 
    --color-education: rgb(206, 226, 93);
}
h3 {
    display: block;
    font-size: 25px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    font-size: 17px;
    margin-block-start: 100px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
header{
    background-color: rgb(24, 24, 116);
    padding: 10px;
    color: ivory;
    justify-content: space-between;
    background: linear-gradient(0.25turn, rgba(25,0,155,.8), rgba(1,204,254,.8));
    -webkit-box-shadow: inset 0px -25px 10px -10px var(--color-fond); 
    box-shadow: inset 0px -25px 10px -10px var(--color-fond);
    background-size: cover;
}
header a{
    color: ivory;
}
body,
html{
    min-height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}
body{
    background-color:  var(--color-fond);
}
a{
    text-decoration: none;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px auto;
    justify-content: center;
}

/* ID ================================================= */

#posts{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 40%;
}
#posts > *{
    background-color:  var(--color-post);
}
header,
#research,
#account,
#divMenu,
#tri{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
#new,
#top{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}
#divMenu,
#research,
#account{
    flex: 1;
}

#divMenu img{
    height: 90px;
}
#logo{
    font-size: 75px;
    font-family: 'adobe song std';
    font-weight: 150;
    margin: -25px 20px;
}
#logo > span{
    font-size: 50px;
    font-family: "lucida handwriting";
    font-weight: 75;
}
#research{
    padding-left: calc((((100% / 3) - 400px) / 2) - 33px);
    margin: 0;
}
#research > img{
    height: 40px;
    width: 40px;
}
#search{
    padding: 5px;
    height: 25px;
    width: 400px;
    margin-right: 5px;
    border-radius: 30px;
}
#search:focus-visible {
	outline: none;
}
#deconnect{
    display: none;
}
#login{
    /* display: none; */
}
#account > *{
    margin: auto 0 auto auto;
}
#account{
    font-size: 25px;
}
#avatar{
    border-radius: 50%;
    border: 5px outset rgb(13,161,195);
    background-color: rgb(13,161,195);
    height: 80px;
    width: 80px;
    margin: 10px;
}
div[id^=post]:not(#posts),
#tri{
    box-shadow: 5px 5px 15px 5px rgb(121, 121, 121);
    width: 100%;
    margin: 15px auto;
    padding: 5px;
    border-radius: 15px;
    justify-content: space-around;
}
#tri,
#tri > *{
    height: 50px;
}
#tri img{
    height: 90%;
}
#tri p{
    font-size: 18px;
    margin: 8px 5px;
}
#categories{
    padding: 10px;
    height: max-content;
    width: max-content;
    margin: 15px 50px;
    border-radius: 15px;
    background-color:  var(--color-post);
}
#categories h2{
    margin: 5px;
}
#categories ul{
    width: 100%;
    padding: 0;
    margin: 0;
    min-width: 80px;
}
#categories ul li{
    padding: 5px;
    margin: 0;
    list-style: none;
    width: 100%;
}
#categories ul li a{
    padding: 5px;
    margin: 0;
    border-radius: 5px;
    width: calc(100% - 10px);
    height: 100%;
    color: black;
    background-color: transparent;
    transition: all .5s ease-in-out;
    display: block;
}
#categories ul li a:hover{
    transition: all 0s ease-in-out;
    color: ivory;
}

#cat:hover {
    background-color: var(--color-business);
}
#cat2:hover {
    background-color: var(--color-sport);
}

#cat3:hover {
    background-color: var(--color-culture);
}

#cat4:hover {
    background-color: var(--color-loisir);
}

#cat5:hover {
    background-color: var(--color-cinema);
}

#cat6:hover {
    background-color: var(--color-gaming);
}

#cat7:hover {
    background-color: var(--color-animaux);
}

#cat8:hover {
    background-color: var(--color-voyage);
}

#cat9:hover {
    background-color: var(--color-sante);
}

#cat10:hover {
    background-color: var(--color-education);
}

/* Class ================================================ */
.search {
    display: inline-block;
    font-size: 1.2em;
    border: 1px solid ;
    border-radius: 5px;
    color: #ffffff;
    background: linear-gradient(0.25turn, rgba(85, 56, 233, 0.8), rgba(8, 170, 211, 0.8));
    padding: 10px;
    min-width: 173px;
    cursor: pointer;
    text-decoration: none;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    text-align: center;
    border-color: #FFFFFF;


}

.text {
    font-family: 'KoHo', sans-serif;
    text-align: justify;
}
.avatar{
    height: 55px;
    width: 55px;
    border-radius: 55px;
}
.infos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.infos p:not(.category){
    margin: auto 5px 0;
}
.category{
    width: 100%;
    text-align: right;
    font-size: 22px;
    margin: auto 5px 10px;
}
.category span{
    color: var(--color-business);
    border-radius: 50px;
    padding: 0 5px;
    border: 3px solid var(--color-business);
    width: max-content;
}
.category span::before {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-business);
  filter: opacity(25%);
  background-size: cover;
}
.container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}
.container > *{
    margin: 10px auto;
    width: 90%;
}
.control{
    margin: 10px auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.control img{
    width: 30px;
    height: 30px;
}   
.control p{
    width: 100%;
}
.control span > *{
    margin: 0 5px   ;
}

/* .like {
    cursor: pointer;
    background-position: left;
    background-repeat:no-repeat;
}

.like:hover {
    background-position:right;
  }
  
  .is_animating {
    animation: heart-burst .8s steps(28) 1;
  }
  
  @keyframes heart-burst {
    from {background-position:left;}
    to { background-position:right;}
  } */

  /* Spéciaux ====================================== */
  .box {
    width: 900px;
    max-width: 90%;
    margin: 10vh auto 50px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: -ms-grid;
    -ms-grid-columns: 1fr 2fr;
    display: grid;
    grid-cap: 0px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar main";

    padding: 0;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.box a {
    color: inherit;
}
.box p {
    margin: 10px 0px 30px 0px;
}
input:focus,
a:focus,
button:focus,
submit:focus {
    outline: none;
    border: 1px solid #ffffff !important;
    box-shadow: 0 0 3pt 2pt orangered !important;
}
.box .sidebar input:focus,
.box .sidebar a:focus,
.box .sidebar button:focus,
.box .sidebar submit:focus {
    outline: none;
    border: 1px solid orangered !important;
    box-shadow: 0 0 3pt 2pt #ffffff !important;
}
.box ul {
    padding: 0;
}
.box ul li {
    list-style: none;
    margin: 5px;
}
.box ul.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 0.9em;
}
.box ul.blocks li {
}
.box ul.blocks li a {
    display: block;
    max-width: 200px;
    border: 1px solid orangered;
    border-radius: 5px;
    background-color: #ffffff;
    color: #666666;
    padding: 10px;
    text-decoration: none;
}
.box ul.blocks li a:hover {
    border-color: orangered;
    background-color: orangered;
    color: #ffffff;
    transition: all 0.2s;
    opacity: 1;
}
.box ul.blocks li a strong {
    display: block;
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #23b2a4;
}
.box ul.blocks li a:hover strong {
    color: #ffffff;
}
.box ul.blocks li a i.material-icons {
    vertical-align: -25%;
}
.box button,
.box.button {
    text-align: left;
    width: 90px;
    line-height: 20px;
    margin: 50px;
}
.box .button {
    display: inline-block;
    font-size: 1.2em;
    border: 1px solid orangered;
    border-radius: 5px;
    color: #ffffff;
    background-color: orangered;
    padding: 10px;
    min-width: 173px;
    cursor: pointer;
    text-decoration: none;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
}
.box button:hover,
.box .button:hover {
    background-color: #ffffff;
    color: orangered;
    transition: all 0.2s;
    opacity: 1;
}
.box button.btn-alt,
.box .button.btn-alt {
    background-color: #ffffff;
    color: orangered;
}
.box button.btn-alt:hover,
.box .button.btn-alt:hover {
    background-color: orangered;
    color: #ffffff;
}

.box .sidebar {
    background: radial-gradient(closest-side, rgba(25,0,155,.8),rgba(1,204,254,.8));
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: sidebar;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "sidebar-content" "sidebar-footer";
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.box .sidebar button,
.box .sidebar .button {
    border-color: #FFFFFF;
}
.box .sidebar .sidebar-content {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: sidebar-content;
}
.box .sidebar .sidebar-footer {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: sidebar-footer;
}
.box .sidebar .sidebar-footer p {
    margin: 20px 0;
}
.box .sidebar .logo_container {
    /*old*/
    text-align: left;
    text-align: center;
    margin: 0;
}
.box .sidebar .logo {
    width: 150px;
}
.box .sidebar .bigicon {
    margin: 30px;
}
.box .sidebar .bigicon i {
    font-size: 150px;
}
.box .main {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: main;
    color: #666666;
    text-align: center;
}
.box .main h1, .box .main h2 {
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}
.box .main .main-error {
}
.box .main .main-error p {
    color: #ffffff;
    background-color: #000000;
    margin: 0;
    padding: 10px;
}
.box .main .main-error p.info {
    color: #000000;
    background: #eeeeee;
}
.box .main .main-error p.success {
    color: #ffffff;
    background: black;
}
.box .main .main-error p.warning {
    color: #ffffff;
    background: orange;
}
.box .main .main-error p.error {
    color: #ffffff;
    background: red;
}
.box .main .main-error p span {
    display: block;
}
.box .main .main-content {
    margin: 20px;
}
.box .main .main-content .form {
    width: 400px;
    max-width: 95%;
    margin: 40px auto 0;
}
.box .main .main-content .form .field {
    margin: 10px;
}
.box .main .main-content .form .field label {
    display: block;
    text-align: left;
}
.box .main .main-content .form .field input {
    font-size: 1.2em;
    padding: 10px;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.box .main .main-content .form button,
.box .main .main-content .form input[type="submit"] {
    margin: 20px 4px;
    min-width: 192px
}
.box .main .main-content .form button:hover,
.box .main .main-content .form input[type="submit"]:hover {

}
.box .main .main-content .full-width {
    margin: 0px -20px;
}
.box .main .main-content .form .g-recaptcha {
    width: 304px;
    margin: auto;
}
.box .main .main-content .form .field .field-warning {
    margin: 0 0 -25px;
    font-size: 0.8em;
    line-height: 25px;
}
.box .main .main-content .form .field .field-warning i {
    vertical-align: -25%;
    font-size: 1.4em;
}
.footer {
    text-align: center;
    color: #ffffff;
    font-size: 0.7em;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.footer ul {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    width: 100vw;
    padding: 5px 0;
    margin: 0;
    display: inline-block;
}
.footer ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}
.footer ul li a {
    color: inherit;
}