#main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    transition: width .25s cubic-bezier(.7,-0.5,.7,1), opacity .25s linear;
}

#menu{
    background-color: rgb(204,204,192);
    width: max-content;
    height: max-content;
    padding: 10px 0;
    margin: 0;
}
#menu > *{
    padding: 10px;
    font-family: Quicksand;
}
#menu,
#menu > *{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: black;
    transition: color .5s linear;
    transition: background-color .5s linear;
}
#menu > *.active{
    color: royalblue;
    background-color: var(--color-post);
    transition: color .5s linear;
    transition: background-color .25s linear;
}

#container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: var(--color-post);
    border-radius: 0 10px 10px 10px;
    font-family: Quicksand;
    box-shadow: 5px 20px 15px 5px rgb(121, 121, 121);
}
#container h2{
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
}
#container > *{
    opacity: 0;
}

#sub-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
#sub-container > *:not(.catForm){
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    border: 5px solid black;
}
#sub-container > *:nth-child(1),
#sub-container > *:nth-child(1) ul > li{
    background-color: rgba(211, 56, 12,.5);
}
#sub-container > *:nth-child(2),
#sub-container > *:nth-child(2) ul > li{
    background-color: rgba(255, 155, 12,.5);
}
#sub-container > *:nth-child(3),
#sub-container > *:nth-child(3) ul > li{
    background-color: rgba(12, 174, 36,.5);
}
#sub-container > div > h3{
    width: 100%;
    text-align: center;
    border-color: black;
    border-width: 5px;
    border-style: none none solid none;
    padding: 10px 0;
    margin: 0;
}

.list{
    margin: 0;
    padding: 0 10px;
    font-family: monospace;
    font-size: 20px;
}
.list > *{
    margin: 10px 5px;
    padding: 5px;
    list-style: none;
    border-radius: 10px;
}
.list li > span{
    padding: 0 0 0 10px;
    font-size: 15px;
}


#sub-container > div{
    display: flex;
    flex-direction: column;
    position: relative;
}
#sub-container > div > *{
    margin: 5px;
}
#sub-container > div > * > input[type='text']{
    height: 30px;
    border-radius: 30px;
    padding-left: 10px;
    font-size: 18px;
}
#sub-container > div > * > input:not([type='text']),
#sub-container > div > * > button{
    height: 30px;
    font-size: 18px;
}
#sub-container > div > *.catForm:last-child{
    position: absolute;
    top: 0;
    right: 0;
}

li[id^='username']{
    cursor: pointer;
    position: relative;
    width: max-content;
}
li[id^='username'].active{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
li[id^='username'] > span{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgb(211, 56, 12);
    top: 0;
    left: 100%;
    z-index: 10;
    width: max-content;
}
li[id^='username'].active > span{
    display: flex;
}   
.catChecks{
    border-radius: 10px;
    border-top-left-radius: 0;
}
.catChecks > *{
    margin: 5px;
    padding: 0;
}

#modo-container{
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 10px;
    border: 5px solid black;
    padding: 10px;
}
#modo-container > *{
    font-size: 20px;
    list-style: none;
    border: none;
    margin: 5px;
}
#modo-container > * li{
    margin: 10px 5px;
}