{{template "layout" .}}
{{define "head"}}
    <link rel="stylesheet" href="static/css/banList.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="static/js/banList.js" defer></script>
{{end}}
{{define "main"}}

<main id="main">
    <div id="menu">
        <a href="dashBoard">Statistiques</a>
        <a href="banList" class="active">BanList</a>
        <a href="tickets">Tickets</a>
        {{if eq .User.Role 1}}
        <a href="role">Rôles</a>
        <a href="catModo" >Modérateurs</a>
        <a href="categories">Catégories</a>
        {{end}}
    </div>
    <div id="container" class="visible">
        <h2>Banlist</h2>
        <!-- {{.BanLists}} -->
        {{range .BanLists}}
        <div class="userBan">
            <h3 {{if eq .BanDef "1" }}class="banDef"{{end}}><i class="fas fa-exclamation-circle"></i> {{.User.Username}}</h3>
            <ul class="banList">
                <li>{{if .BanDef}}
                        {{.BanDef}} depuis le {{.StartDate}} 
                    {{else}} 
                        Du {{.StartDate}} au {{.EndDate}} 
                    {{end}}
                    <br><span class="parki"> Par {{.BannedBy.Username}}</span>
                    <span class="raison">Raison: {{.Raison}}</span></li>
                <!-- <li>Du 01/02/2021 au 15/02/2021<br><span class="raison">Raison: Pas beau</span></li>
                <li>Du 20/05/2021 au 25/05/2021<br><span class="raison">Raison: Je fais ce que je veux</span></li> -->
            </ul>
            <div></div>
        </div>
        {{end}}
        <!-- <div class="userBan">
            <h3>User2 (2)</h3>
            <ul class="banList">
                <li>Du 20/05/2021 au 25/05/2021<br><span class="raison">Raison: Je fais ce que je veux</span></li>
            </ul>
            <div></div>
        </div>
        <div class="userBan">
            <h3 class="banDef">User3 (4)</h3>
            <ul class="banList">
                <li>Ban définitif depuis le 25/05/2021<br><span class="raison">Raison: Tu sers à rien</span></li>
                <li>Du 01/02/2021 au 15/02/2021<br><span class="raison">Raison: Pas beau</span></li>
                <li>Du 20/05/2021 au 25/05/2021<br><span class="raison">Raison: Je fais ce que je veux</span></li>
                <li>Du 01/02/2021 au 15/02/2021<br><span class="raison">Raison: Pas beau</span></li>
            </ul>
            <div></div>
        </div>
        <div class="userBan">
            <h3 class="banDef">User4 (1)</h3>
            <ul class="banList">
                <li>Ban définitif depuis le 25/05/2021<br><span class="raison">Raison: Tu sers à rien</span></li>
                <li>Du 20/05/2021 au 25/05/2021<br><span class="raison">Raison: Je fais ce que je veux</span></li>
            </ul>
            <div></div>
        </div> -->
    </div>
</main>

{{end}}