{{template "layout" .}}
{{define "head"}}
    <link rel="stylesheet" href="static/css/categorie.css">
    <script src="./static/js/categories.js" defer></script>

    <script type="module" defer>
        
    import {Runtime, Library, Inspector} from "./static/graph/barrestack/runtime.js";
    // import {Runtime, Library, Inspector} from "./runtime.js";
    
    import Weekdefine from "./static/graph/barrestack/week.js";
    
    import Monthdefine from "./static/graph/barrestack/month.js";
    
    // import Alldefine from "./static/graph/barrestack/all.js";
    import define from "./static/graph/pannable/index.js";

        const weekruntime = new Runtime();
        const weekmain = weekruntime.module(Weekdefine, Inspector.into(document.getElementById("WeekStats")));

        // const allruntime = new Runtime();
        // const allmain = allruntime.module(Alldefine, Inspector.into(document.getElementById("AllStats")));

        const monthruntime = new Runtime();
        const monthmain = monthruntime.module(Monthdefine, Inspector.into(document.getElementById("MonthStats")));
        
        const allRuntime = new Runtime();
        const allMain = allRuntime.module(define, Inspector.into(document.getElementById("AllStats")));
    </script>

{{end}}
{{define "main"}}
<p id="sevenData" style="display: none;">{{.Stats.Seven}}</p>
<p id="monthData" style="display: none;">{{.Stats.Month}}</p>
<p id="allData" style="display: none;">{{.Stats.All}}</p>
<main id="main">
    <div id="menu">
        <a href="dashBoard" class="active">Statistiques</a>
        <a href="banList">BanList</a>
        <a href="tickets">Tickets</a>
        {{if eq .User.Role 1}}
        <a href="role">Rôles</a>
        <a href="catModo" >Modérateurs</a>
        <a href="categories">Catégories</a>
        {{end}}
    </div>
    <div id="stats" class="visible">
        <h2>Statistiques</h2>
        <div id="statWeek">
            <h3>Les 7 derniers jours</h3>
            <p>Par catégories</p>
            <div id="WeekStats"></div>
            <div id="popupWeek">
                <div id="popupWeekStats"></div>
            </div>

        </div>
        <div id="statMonth">
            <h3>Le mois passé</h3>
            <p>Par catégories</p>
            <div id="MonthStats"></div>
            <div id="popupMonth">
                <div id="popupMonthStats"></div>
            </div>
        </div>
        <div id="statAll">
            <h3>Tout</h3>
            <p>Par catégories</p>
            <div id="AllStats"></div>
            <div id="popupAll">
                <div id="AllStats"></div>
            </div>
        </div>
    </div>
</main>
{{end}}