{{template "layout" .}}
{{define "head"}}
<link href="static/css/comment.css">
{{end}}
{{define "main"}}
<main>
    {{with .Post}}
    <div class="Posts{{.Id}}">
         <div class="user">
             {{.User.Avatar}}
             Par {{.User.Username}}
         </div>
         <div class="category">
             {{.Categorie}}
         </div>
         <div class="date">
            Il y a {{.Date}}
        </div>
                
        <div class="Posts">

        </div>
        <div id="Descriptif" class="Descriptif">
            {{.Content}}
            <!--Permet d'augmenter la height de la div de id="Descriptif" en cliquant sur "Lire la Suite"-->
            <a href="javascript:document.getElementById('Descriptif').style.height='10vh';document.getElementById('Descriptif').releaseCapture();"> 
                <u>Lire la Suite</u>
            </a>
            <!--Permet de réduire la -eight de la div de id="Descriptif" en cliquant sur "Fermer"-->
            <div id="re001" style="display: block;">
                <a href="javascript:document.getElementById('Descriptif').style.height='4vh';document.getElementById('Descriptif').releaseCapture();">
                    <u>Fermer</u>
                </a>
            </div>
        </div>


        
        <div class="Likes">
            {{.Likes}}
        </div>
        {{end}}

        {{range .Commentaires}}
        <div class="Comment">
            <img src="{{.User.Avatar}}"/>
            <p>Par {{.User.Username}} il y a {{.Date}}</p>

            <p>{{.Content}}</p>
            
            <div class="like">
            </div>
        </div>
        {{end}}
    </div>
</main>

{{end}}