{{template "layout" .}}
{{define "head"}}
<link href="static/css/comment.css">
{{end}}
{{define "main"}}
<main>
    {{range .Posts}}
    <div id="post{{.Id}}">
        <div id="block1">
            <!--<div class="posts">
                <img class="postimg" src="static/img/" alt="postimg">
            </div> -->


            <div class="descriptif">
                <div class="infos">
                    <img class="avatar" src="static/img/{{.User.Avatar}}" alt="avatar">
                    <p>Par {{.User.Username}} Il y a {{.Date}}</p>
                    <p class="category"><span>{{.Categorie}}</span></p>
                </div>
                <div class="text">
                <p>{{.Content}}</p>
                </div>
                <p id="like">Liked by {{.Likes}} users</p>
            </div>     
        </div>
        {{end}}
        {{range .Commentaires}}
        <div class="comment">
        
            <p id="par">Par {{.User.Username}} Il y a {{.Date}}</p>
            <p id="text-par">{{.Content}}</p>
       
        </div> 
        {{end}}
    </div>
    
</main>

{{end}}