{{define "header"}}
<header>
    <a href="index">
        <div id="divMenu"> 
            <img src="/static/img/logo.png" alt="">
            <p id="logo">MLC<span>Forum</span></p>
        </div>
    </a>
    <div id="research">
    {{if eq .Page "search"}}
        <form action="" method="GET">
            <input type="text" name="search" required>
            <input type="submit" value="">
        </form>
    {{else}}
        <a href="search" class="search">Recherche</a>
    {{end}}
    </div>
    <div id="account">
        
        {{$id := .User.Id}}
        {{if eq $id 0}}
            <a href="login" id="login">Connexion / Inscription</a>
        {{else}}
            <a href="logout" id="deconnect">Déconnexion</a>
        {{end}}
        {{if ne $id 0}}
        <a href="profil?id={{$id}}"><img src="/static/img/avatar.png" alt="avatar" id="avatar"></a>
        {{end}}
    </div>
</header>
{{end}}