{{define "header"}}
<header>
    <a href="index">
        <div id="divMenu"> 
            <img src="/static/img/logo.png" alt="">
            <p id="logo">MLC<span>Forum</span></p>
        </div>
    </a>

    <div id="research">
        <a href="search" class="search">Recherche</a>
    </div>
    <div id="researchForm">
    
    </div>
    <div id="account">
        
        {{$id := .User.Id}}
        {{if eq $id 0}}
            <a href="login" id="login">Connexion / Inscription</a>
        {{else}}
            <a href="logout" id="deconnect">Déconnexion</a>
        {{end}}
        <a href="profil"><img src="/static/img/avatar.png" alt="avatar" id="avatar"></a>
    </div>
</header>
{{end}}