{{template "layout" .}}
{{define "head"}}
<script src="static/js/index.js" defer></script>
{{end}}
{{define "main"}}
<main>
    
    {{$User := .User}}
    {{$Role := .User.Role}}
    <div id="posts">
        {{if ge .User.Role 1}}
        <a href="createPost"><button><img id="imgPost" src="./static/img/post.png"><p id="CreateP">Créer un post</p></button></a>
        {{end}}
        {{if or (eq $Role 2) (eq $Role 1) }}
        <a id="DashBoard" href="banList">dashboard</a>
        {{end}}
        {{range .Posts}}
        <div id="post{{.Id}}">
            <div class="infos">
                <img class="avatar" src="./static/img/{{.User.Avatar}}" alt="avatar">
                <div class=elemUser>
                <p>Par <a href="profil?id={{.User.Id}}">{{.User.Username}}</a> <p id="time">Il y a {{.Date}}</p></p>
                </div>
                <p class="category {{.Categorie}}"><span>{{.Categorie}}</span></p>
            </div>
            <div class="container">
                <p>{{.Content}}</p>
            </div>
            <div class="control">
                <div>
                    <span>
                        {{if eq $User.Id 0 }}
                            <img onclick="window.location.href = '/login'" src="./static/img/like2Blanc.png" alt="like" class="like">
                            <img onclick="window.location.href = '/login'" src="./static/img/dislike2Blanc.png" alt="dislike" class="dislike">
                        {{else}}
                            <img hx-post="/vote?PostId={{.Id}}&Vote=1" hx-target="#likeInfo{{.Id}}" hx-trigger="click" hx-swap="innerText" src="./static/img/like2Blanc.png" alt="like" class="like">
                            <img hx-post="/vote?PostId={{.Id}}&Vote=0" hx-target="#likeInfo{{.Id}}" hx-trigger="click" hx-swap="innerText" src="./static/img/dislike2Blanc.png" alt="dislike" class="dislike">
                        {{end}}
                    </span>
                    <span>
                        <a href="comment?id={{.Id}}"><img src="./static/img/comment.png" alt="comment"></a>
                        <a href="share?id={{.Id}}"><img src="./static/img/share.png" alt="share"></a>
                    </span>
                </div>
                <div>
                    <p id="likeInfo{{.Id}}">{{.Likes.Note}} like.s pour {{.Likes.Total}} vote.s</p>
                    {{if or (eq $Role 2) (eq $Role 1) }}
                    <button class="supp"><a href="supprpostmodo?id={{.Id}}">supprimer post</a></button>
                    {{end}}
                </div>
            </div>
        </div>
        {{end}}
    </div>
</main>
{{end}}