{{define "layout"}}

<!DOCTYPE html>
<html lang="fr">
<head>
        <meta charset="UTF-8">
        <title>MLC Forum</title>
        <link rel="stylesheet" href="./static/css/style.css">
        <link rel="shortcut icon" href="./static/img/avatar.png">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@1.4.1"></script>
        {{block "head" .}}
        {{end}}
</head>
<body>
    {{if not .Error}}
        {{template "header" .}}
    {{end}}
    {{template "main" .}}
</body>
</html>
{{end}}
