{{template "layout" .}}
{{define "head"}}
{{end}}
{{define "main"}}
<main>
    <div id="menu">
        <a href="posts_media" >Posts Media</a>
        <a href="posts" class="active">Posts</a>
        <a href="infos">Infos</a>
    </div>
    <div id="container" class="visible">
        <h2>Posts Media</h2>
        {{range .Posts}}
        <div id="post{{.Id}}">
            <div class="infos">
                <img class="avatar" src="./static/img/{{.User.Avatar}}" alt="avatar">
                <p>Par {{.User.Username}} Il y a {{.Date}}</p>
                <p class="category {{.Categorie}}"><span>{{.Categorie}}</span></p>
            </div>
            <div class="container">
                <p>{{.Content}}</p>
            </div>
            <div class="control">
                <span>
                    <a href="#"><img src="./static/img/like.png" alt="like" class="like"></a>
                    <a href="#"><img src="./static/img/dislike.png" alt="dislike" class="dislike"></a>
                </span>
                <span>
                    <a href="comment"><img src="./static/img/comment.png" alt="comment"></a>
                    <a href="share?id={{.Id}}"><img src="./static/img/share.png" alt="share"></a>
                </span>
                <p>Liked by {{.Likes}} users</p>
            </div>
        </div>
        {{end}}
    </div>
</main>
{{end}}