{{template "layout" .}}
{{define "main"}}
<main id="Profil">
    <div class="container">
        <div class="Badges">
            <h3>Badges :</h3>
            <ul>
                <li>Badges 1</li>
                <li>Badges 2</li>
                <li>Badges 3</li>
                <li>Badges 1</li>
                <li>Badges 2</li>
                <li>Badges 3</li>
                <li>Badges 1</li>
                <li>Badges 2</li>
                <li>Badges 3</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="Avatar_Profil">
            <a><img src="../img/avatar.png" id="Avatar_Profil"></a>
        </div>

    </div>
</main>

{{end}}