{{template "layout" .}}
{{define "head"}}
<script src="static/js/menu.js" defer></script>
<link rel="stylesheet" href="static/css/profil.css">
{{end}}
{{define "main"}}
<main id="menu">

    </div>
    <div id="profil">
        <div class="container_badges">
            <div class="badges">
                <figure>
                    <h3 id="badgesH3">Badges :</h3>
                    <figcaption>
                        {{range .Badge}}
                        <ul id="NbrBadges">
                            <li><img class="BadgeImage" src="{{.Badge .Image}}"/> {{.Badges .Name}}</li>
                        </ul>
                        {{end}}
                    </figcaption>
                    
                </figure>
                
            </div>
        </div>
        
        <div id="avatar_profil">

            <div class="avatar_Profil">
                <figure>
                    {{range .Badge}}
                    <img id="avatar_profil" src="{{.User .Avatar}}"/>
                    {{end}}
                    <figcaption id="nameuser">                      
                    </figcaption>
                </figure>
            </div>
        </div>
        <div id="menu">
            <a id="menu1" href="posts_media">Posts Media</a>
            <a id="menu2" href="posts" >Posts</a>
            <a id="menu3" href="infos">Infos</a>
    </div>
</main>
{{end}}