{{template "layout" .}}
{{define "head"}}
<link rel="stylesheet" href="static/css/search.css">
<script src="./static/js/search.js" defer></script>
{{end}}
{{define "main"}}

<main>
    {{$Role := .User.Role}}
    <div id="posts">
        <!--<div id="tri">
            <div id="new">
                <img src="static/img/new.png" alt="">
                <a href="#">NEW</a>
            </div>
            <div id="top">
                <img src="static/img/top.png" alt="">
                <a href="#">TOP RATE</a>
            </div>
        </div>-->
        {{if ge .User.Role 1}}
        <a href="createPost"><button><img id="imgPost" src="./static/img/post.png"><p id="CreateP">Créer un post</p></button></a>
        {{end}}
        {{if or (eq $Role 2) (eq $Role 1) }}
        <a id="DashBoard" href="banList">dashboard</a>
        {{end}}
        
        {{range .Posts}}
        <div id="post{{.Id}}">
            <div class="infos">
                <img class="avatar" src="./static/img/{{.User.Avatar}}" alt="avatar">
                <div class=elemUser>
                <p>Par <a href="profil?id={{.User.Id}}">{{.User.Username}}</a> <p id="time">Il y a {{.Date}}</p></p>
                </div>
                <p class="category {{.Categorie}}"><span>{{.Categorie}}</span></p>
            </div>
            <div class="container">
                <p>{{.Content}}</p>
            </div>
            <div class="control">
                <span>
                    <img hx-post="/vote?PostId={{.Id}}&Vote=1" hx-target="#likeInfo{{.Id}}" hx-trigger="click" hx-swap="innerText" src="./static/img/like2Blanc.png" alt="like" class="like">
                    <img hx-post="/vote?PostId={{.Id}}&Vote=0" hx-target="#likeInfo{{.Id}}" hx-trigger="click" hx-swap="innerText" src="./static/img/dislike2Blanc.png" alt="dislike" class="dislike">
                    {{if or (eq $Role 2) (eq $Role 1) }}
                        <button><a href="supprpostmodo?id={{.Id}}">supprimer post</a></button>
                    {{end}}
                </span>
                <span>
                    <a href="comment?id={{.Id}}"><img src="./static/img/comment.png" alt="comment"></a>
                    <a href="share?id={{.Id}}"><img src="./static/img/share.png" alt="share"></a>
                </span>
                <p id="likeInfo{{.Id}}">{{.Likes.Note}} like.s pour {{.Likes.Total}} vote.s</p>
            </div>
        </div>
        {{end}}
    </div>
    <div id="categories">
        <form action="" method="GET">
            <h2>Catégories</h2>
            {{range .Categories}}
                <span>
                    <input type="checkbox" id="cat{{.Name}}" name="categorie" value="{{.Name}}">
                    <label for="cat{{.Name}}">{{.Name}}</label>
                </span>
            {{end}}
            <input type="submit" value="Appliquer">
        </form>
    </div>
</main>

{{end}}