{{template "layout" .}}
{{define "head"}}
<link rel="lolfdps" href="static/css/verif.css">
{{end}}
{{define "main"}} 
<main>
    <div>
        <div class="title">

            <h2>Votre article a été supprimé avec succès !</h2>
            
        </div>
        <div class="content">
            <p>Vous pouvez néanmoins le retrouver sur votre profil, dans l'onglet Posts !</p>
            
            <a class="button" href="index">Retour à l'accueil</a>

            <p>En vous souhaitant une bonne navigation sur MLC Forum !</p>
        </div>
        
    </div>
    
</main>
{{end}}
