{{template "layout" .}}
{{define "head"}}
    <link rel="stylesheet" href="static/css/tickets.css">
    <script src="static/js/tickets.js" defer></script>
{{end}}
{{define "main"}}
<main id="main">
    <div id="menu">
        <a href="dashBoard">Statistiques</a>
        <a href="banList">BanList</a>
        <a href="tickets" class="active">Tickets</a>
    </div>
    <div id="container" class="visible">
        <h2>Tickets</h2>
        <div id="sub-container">
            <div>
                
                <h3>En attente</h3>
                {{range .Tickets}}
                {{if eq .Ticket "0"}}
                <ul class="list">
                    <li class="list-elem">Catégorie : {{.Categorie}}<span>{{.Content}}</span><br><span>Par {{.User.Username}}</span><br><span>Le {{.Date}}</span></li>
                 
                </ul>
                {{end}}
                {{end}}
            </div>
            <div>
                <h3>Ouverts</h3>
                {{range .Tickets}}
                {{if eq .Ticket "1"}}
                <ul class="list">
                    <li class="list-elem">Ouvert par {{.OpenBy}}<span>Catégorie : {{.Categorie}}</span><span>{{.Content}}</span><br><span>Par {{.User.Username}}</span><br><span>Le {{.Date}}</span></li>
                </ul>
                {{end}}
                {{end}}
            </div>
            <div>
                <h3>Fermés</h3>
                {{range .Tickets}}
                {{if eq .Ticket "2"}}
                <ul class="list">
                    <li class="list-elem">Fermé par {{.OpenBy}}<span>Catégorie : {{.Categorie}}</span><span>{{.Content}}</span><br><span>Par {{.User.Username}}</span><br><span>Le {{.Date}}</span></li>
                </ul>
                {{end}}
                {{end}}
            </div>
        </div>
    </div>
</main>

{{end}}