{{template "layout" .}}
{{define "head"}}
{{end}}
{{define "main"}} 
<main>
    <div>
        <div class="title">
            <h2>Votre mail a été confirmé avec succès!</h2>
            
            <!--Image rond vert avec un v de check -->
        </div>
        <div class="content">
            <p>Vous pouvez désormais accéder à votre compte en cliquant sur ce lien :</p>
            
            <a class="button" href="index">Retour à l'accueil</a>

            <p>En vous souhaitant une bonne navigation sur MLC Forum !</p>
            <!-- mettre le logo -->
        </div>
        
    </div>
</main>
{{end}}
